/* !leader */
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
section {
  padding-top: 96px;
  padding-bottom: 96px;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
a {
  text-decoration: none;
}

.subtitle {
  color: #2e2f42;
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* ?header */
.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.nav {
  align-items: center;
  display: flex;
}
.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
.nav-panel {
  display: none;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  padding: 17px 0;
}

.address {
  font-style: normal;
  margin-left: auto;
  display: none;
}
.open-menu {
  border: none;
  background-color: transparent;
  cursor: pointer;
  line-height: 0;
  padding: 0;
}
.logo span {
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway";
}

.contact {
  color: #434455;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover,
.contact:focus {
  color: #404bbf;
}
/********  main */
/* TODO: section#1 */

.section-one {
  background-color: #2e2f42;
  text-align: center;
  padding: 72px 0;
  max-width: 320px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
}

.title {
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1; /* 111.111% */
  letter-spacing: 0.02em;
  font-family: "Roboto";
  max-width: 216px;
  margin: 0 auto;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  font-weight: 500;
  line-height: 1.5;
  min-width: 169px;
  height: 56px;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
/* section#2 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.text-list {
  display: block;
  gap: 72px;
}
.text-item {
}
.text-box {
  background-color: #f4f4fd;
  height: 112px;
  border: #8e8f99 solid 1px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  display: none;
  margin-bottom: 8px;
}

.sc-title {
  color: #2e2f42;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.sc-text {
  color: #434455;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ! section3 */
.subtitle {
  margin-bottom: 72px;
}
.team {
  background-color: #f4f4fd;
}
.team-list {
  display: block;
  gap: 72px;
  /* flex-direction: row; */
}
.team-item {
  background: var(--WHITE, #fff);
  border-radius: 0 0 4px 4px;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-svg {
  fill: #f4f4fd;
}
.team-h {
  color: #2e2f42;
  text-align: center;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-p {
  color: #434455;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-box {
  padding: 32px 0;
}
.box-icon {
  width: 40px;
  height: 40px;
}
.box-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-link:hover {
  background-color: #404bbf;
  cursor: pointer;
}
.box-link:focus {
  background-color: #404bbf;
}
.team-box-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
/*? section#4*/
.product-list {
  display: block;
  gap: 48px;
}
.product-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}
.product-item .box {
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;
}
.product-title {
  color: #2e2f42;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.product-text {
  color: #434455;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.overlow-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-img {
  position: relative;
  overflow: hidden;
}
.product-item:hover .overlow-text {
  transform: translateY(0);
}
/* !  footers */
.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-container {
  text-align: center;
}
.container-footer {
  display: block;
  justify-content: center;
  align-items: center;
}
.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo .logo-footer {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 288px;
  margin-bottom: 72px;
  text-align: start;
}
.footer-box {
  text-align: center;
}
.footer-title-link {
  color: #ffffff;
  margin-bottom: 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-box-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 72px;
}
.footer-box-icon {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-footer {
  display: block;
  align-items: center;
  justify-content: center;
}
.footer-box-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-box-link:hover,
.footer-box-link:focus {
  background-color: #31d0aa;
}
.footer-svg {
  fill: #f4f4fd;
}
.box-for-email {
}
.email-text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.email-form {
  display: block;
}
.email-box {
  text-align: center;
}
.email-label {
}
.email-input {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.email-input::placeholder {
  color: #ffffff;
}
.email-button {
  margin: 16px auto;

  border-radius: 4px;
  background-color: #4d5ae5;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border: none;
}
.email-svg-tg {
  margin-left: 16px;
  fill: #fff;
}
/*****! FORM *****/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-x {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-x:hover,
.button-x:focus {
  background-color: #404bbf;
  border: none;
}
.button-x:focus > .button-icon,
.button-x:hover > .button-icon {
  fill: #ffffff;
}
.button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.form {
  gap: 24px;
}
.modal-box {
  margin-bottom: 8px;
}
.form-label {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;
}
.modal-input-wrap {
  position: relative;
}
.form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  color: #434455;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.form-input:focus {
  border-color: #4d5ae5;
}
.form-input:focus + .modal-icon {
  fill: #4d5ae5;
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-box-text {
  margin-bottom: 16px;
}
.modal-text {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  resize: none;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text:focus {
  border-color: #4d5ae5;
}
.modal-checkbox {
  margin-bottom: 24px;
}
.check-input:checked + .check-label span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.check-label {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.blue-text {
  color: #4d5ae5;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  cursor: pointer;
  margin-left: 4px;
}
.check-span {
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f4266;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
}
.modal-button {
  background-color: #4d5ae5;
  color: #ffffff;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover {
  background-color: #404bbf;
}

/*! ------------------------------ */
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .logo {
    margin-right: 120px;
  }
  .nav-panel {
    display: flex;
    gap: 40px;
  }
  .studio {
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: "Roboto";
    display: block;
  }
  .studio:hover,
  .studio:focus {
    color: #404bbf;
  }
  .current {
    color: #404bbf;
    position: relative;
  }
  .current::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .address {
    display: block;
  }
  .open-menu {
    display: none;
  }
  /* section 1 */
  .section-one {
    max-width: 768px;
  }
  .title {
    max-width: 496px;
    line-height: 1.07;
    margin-bottom: 36px;
    font-size: 56px;
    letter-spacing: 0.02em;
  }
  /* section2 */

  .sc-title {
    text-align: start;
    font-size: 36px;
    line-height: 1.1;
    font-weight: 700;
  }
  .text-item {
    width: 356px;
  }
  .text-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: calc((100%-24) / 2);
  }
  /* section3 */
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
    align-items: center;
    margin-bottom: 96px;
  }
  /* section4 */
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 72px 24px;
  }
  .product-item {
    width: calc((100%-24px) / 2);
  }
  /* footer */
  .container-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    align-items: baseline;
  }
  .footer-box {
    text-align: start;
  }
  .email-box {
    text-align: start;
  }
  .email-text {
    margin-bottom: 0;
  }
  .email-form {
    display: flex;
    align-items: baseline;
  }
  .email-button {
    margin-left: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
  .logo {
    margin-right: 76px;
  }
  .address {
    display: flex;
  }
  .list {
    display: flex;
    gap: 40px;
  }
  /* section1 */
  .section-one {
    max-width: 1440px;
    padding: 188px 0;
  }
  .title {
    margin-bottom: 48px;
  }
  /* section2 */
  .text-item {
    width: calc((100% - 24px) / 4);
  }
  .text-box {
    display: flex;
  }
  .text-list {
    flex-wrap: nowrap;
  }
  .sc-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
  }
  .sc-text {
    font-weight: 400;
  }
  /* section3 */
  .team-list {
    flex-wrap: nowrap;
    margin-bottom: 120px;
  }
  .team-item {
    gap: 24px;
  }
  /* section4 */
  .product-list {
    column-gap: 24px;
    row-gap: 48px;
  }
  .product-item {
    width: calc((100% - 24px * 2) / 3);
  }
  /* footer */
  .footer-container {
    text-align: start;
    margin-right: 60px;
  }
  .footer-box {
    margin-right: 40px;
  }
}
/* .container-footer{
  display: flex;
  align-items: baseline;
} */
/* .footer-container {
  margin-right: 120px;
} */
/* .email-box {
  margin-left: 80px;
} */
